
@{
    ViewBag.Title = "ShopingSheet";
    Layout = "~/Views/Shared/_Memlayout.cshtml";
}

@*<h2>ShopingSheet</h2>*@
@section pBreadCrumb{
<ol class="breadcrumb">

    @*<li><i class="fa fa-th-large  fa-spin"></i></li>*@

    @*<li class="breadcrumb-item"><a href="#">會員專區</a></li>*@
    <li class="breadcrumb-item " aria-current="page">消費紀錄查詢</li>
</ol>
    }