<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:#a9dc98;font-size:45px;">
        <b>Area Control System</b>
    </div>
    <div>
        <pre style="font-size:15px;">
            您好!
                只差最後一步了，點擊下方連結完成帳號認證
                點擊<a href="@ViewBag.ConfirmationLink">這裡</a>*
        </pre>
    </div>
</body>
</html>